<header class="header">
  <div class="header-container">
    <h2 style="color: #ffffff">{{ site.author.name }}</h2>
    <div class="nav-left">
      <img src="/images/photo.png" width="75" height="91" alt="Photo of Derek Croote" />
    </div>
    <div class="nav-right" role="navigation">
      <ul class="nav">
        {% if page.path == "index.html" %}
        <li class="active"><a href="/index.html">home</a></li>
        {% else %}
        <li><a href="/index.html">home</a></li>
        {% endif %} {% if page.path == "about.md" %}
        <li class="active"><a href="/about/">about</a></li>
        {% else %}
        <li><a href="/about/">about</a></li>
        {% endif %} {% if page.path == "privacy.md" %}
        <li class="active"><a href="/privacy/">privacy</a></li>
        {% else %}
        <li><a href="/privacy/">privacy</a></li>
        {% endif %}
      </ul>
      <div class="description">{{ site.motto }}</div>
      <ul class="social-links">
        <li>
          <a href="https://github.com/{{ site.github_username }}" title="Github">
            <img width="19" height="19" src="/images/github.png" alt="GitHub icon" />
          </a>
        </li>
        <li>
          <a href="https://twitter.com/DerekCroote" title="Twitter">
            <img width="19" height="19" src="/images/twitter.png" alt="Twitter icon" />
          </a>
        </li>
        <li>
          <a href="/feed.xml" title="RSS">
            <img width="19" height="19" src="/images/rss.png" alt="RSS icon" />
          </a>
        </li>
        <li>
          <button id="theme-toggle" aria-label="Toggle dark mode">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-sun">
              <circle cx="12" cy="12" r="5"></circle>
              <line x1="12" y1="1" x2="12" y2="3"></line>
              <line x1="12" y1="21" x2="12" y2="23"></line>
              <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
              <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
              <line x1="1" y1="12" x2="3" y2="12"></line>
              <line x1="21" y1="12" x2="23" y2="12"></line>
              <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
              <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>